//- index.pug
extends main-layout
block content
	<div class="container">
		<div class="row hero">
			<div class="col heroContainer">
				<img class="heroImage" src="https://via.placeholder.com/350x150"/>
			</div>
		</div>
		<div class="application">
			p#instruction Enter names below to create a tournament.
			div#container
				div#backDrop
				<textarea id="txtArea" cols="50" rows="10"></textarea>
				
		</div>
<<<<<<< HEAD
				<button id="btnS" type="submit">Generate Tournament</button>
	
	
	</div>
=======
	</div>
	div.messenger
			div.close-messenger X
			p.message
>>>>>>> 1c452e096eb8df54ad20a94a0a279290fc305122
