//- index.pug
extends main-layout
block content
	div.container.landing-wrapper
		div.row.landing-content
			div.landing-left.col-md-6
				div.application
					p.instruction Enter names to create a tournament.
					p.instruction Seperate each name with a line break
					p.instruction Order of players will be the seed order unless you check the 'randomize' box
					p.instruction You must sign in first in order to save a tournament
				
			div.landing-right.col-md-6
				<form id="saveTournament" action="/saveTournament" method="POST">
					div.landing-page-content-container
						//- <label class="nameInput" for="tName">Tournament Name</label>
						input#tName.nameInput( type=text required name="tName" placeholder="Tournament Name")
						div#competitorEntrycontainer
							div#backDrop
							textarea#playerNameEntry( cols="50" rows="10" name="playerNameEntry")
						div.submitContainer
							<label for="randomize" class="lbl-randomize">Check box to randomize order</label>
							input#randomize(type="checkbox", name="randomize")
					
				<button id="btnSubmit" type="button">Generate Tournament</button>
				if tournamentdata.id
					<button id="btnSave" type="submit">Save Tournament</button>
				</form>
	div.messenger
			div.close-messenger X
			p.message

