//- index.pug
extends main-layout
block content
	<div class="container">
		<div class="row hero">
			<div class="col heroContainer">
				<img class="heroImage" src="https://via.placeholder.com/350x150"/>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				p Enter names below to create a tournament.

				div#container
					div#backDrop
					<textarea id="txtArea" cols="50" rows="10"></textarea>
				<button id="btnS" type="submit">Submit</button>
				
			</div>
		</div>
	</div>
	div.messenger
			div.close-messenger X
			p.message
