//- index.pug
extends main-layout
block content
	<div class="container">
		<div class="row hero">
			<div class="col">
				<img class="heroImage" src="https://via.placeholder.com/350x150"/>
			</div>
		</div>

		<p>Dynamically the title of the tournament from the server: #{title}</p>
		<p>Dynamically pass the winner of the tournament from the server: #{winner}</p>


		<div class="row">
			<div class="col-4">
				Enter names to create a tournament.<Br/>

				<ul class="showBullets">
					<li>
						The minimum allowed should be 4 users. As the user hits enter/submits the 4th player a 5th box should show up that is optional.
					</li>
					<li>
						Include a delete option per player.
					</li>
					<li>
						We should check for duplicate name(?)
					</li>
				</ul>

				<label for="input01">1:</label>
				<input type="text" id="input01"/><br/>
				<label for="input02">2:</label>
				<input type="text" id="input02"/><br/>
				<label for="input03">3:</label>
				<input type="text" id="input03"/><br/>
				<label for="input04">4:</label>
				<input type="text" id="input04"/><br/>

			</div>
			<div class="col-8">
				<ul class="showBullets">
					<li>
						Insert dynamically generated brackets here as player names are being entered.
					</li>
					<li>
						This should update on any change made in the player list.		
					</li>
					<li>
						If 4 or more player names are entered, the user should be able to FINALIZE the tournament.		
					</li>
				</ul>
				
				<img class="bracketImage" src="https://via.placeholder.com/350x150"/>

			</div>
		</div>
	</div>