<!DOCTYPE html>
<html lang="en">

include partials/head

head
  script(src='main-bundle.js')
  script(src="https://use.fontawesome.com/806a6b6224.js")
  link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  title Tourney Bracketz Partial
body
    include partials/navbar

    block content
    block footer