extends main-layout-public
block content
	//- Function to format the dates from SQL into something readable
	-function prettyDate(dateString){
		-var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
		-var date = new Date(dateString);
		-var d = date.getDate(dateString);
		-var m = monthNames[date.getMonth()];
		-var y = date.getFullYear();
		-return m+' '+d+', '+y;
	-} 
	div.public-notes
		p Public Page to view any Tournament

	//- <script>
	//- 	| console.log("test")
	//- 	| var testing = #{tournamentdata}
	//- </script>

	div.public-notes
		if tournamentdata
			if tournamentdata.email
				p The current user is logged in
				if tournamentdata.owner
					p The current logged in user is the owner of this tournament
				else
					p The current logged in user is NOT the owner of this tournament
			else
				p The current user is not logged in
	div.title.public-notes
		p #{tournamentdata.title}
		p #{prettyDate(tournamentdata.createdAt)}

	<button id="btnSubmit" type="button">Generate Tournament</button>
	div
		textarea#playerNameEntry( cols="50" rows="10" name="playerNameEntry" value="1")
		textarea#userWins( cols="10" rows="10" name="userWins")

	script(type='text/javascript').
		var tournament = !{JSON.stringify(tournamentdata)}
		
		console.log(tournament);
		
		// Identify the names & # of wins per player
		const playerNames = document.getElementById('playerNameEntry');
		const userWins = document.getElementById("userWins");

		// Create a line break
		const linebreak = document.createElement("br");

		// Loop through all players
		for (let i=0; i < tournament.Players.length; i++) {
			// Append playernames to textbox
			playerNames.append(tournament.Players[i].playername + "\n")
			
			// Append player wins to textbox
			userWins.append(tournament.Players[i].wins + "\n")
		}