head
    <link rel="stylesheet" type="css" href="../../client/css/reset.css"/>
    <link rel="stylesheet" type="css" href="../../client/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="css" href="../../client/css/main.css"/>
    