
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href="#") Tourney Bracketz
    ul.navbar-nav
        div#Home
            li.nav-item.active
                a.nav-link(href="/") Home
                    span.sr-only (current)
        li.nav-item
            a.nav-link(href="logos") Logos
        div#dashboard
            if tournamentdata
                if tournamentdata.id
                    li.nav-item
                        a.nav-link(href="userdashboard") Dashboard
    ul.navbar-nav.ml-auto
        if !tournamentdata.id
            li.nav-item
                div#signinbutton Sign In
        if tournamentdata.id
            li.nav-item
                a(href="logout") Logout
    span.navbar-text
        Login
div.row#signincontainer
    div.col-sm-12#loginContainer
        div.row
            div.col#logintitle
                p.tableHeader Log In
            div.col#registertitle
                p.tableHeader Register
            div.col
                button.btn#loginclosebutton 
        form#loginform(action="/login/" method="POST")
            div.row.justify-content-center
                div.col-sm-12
                    input#email(type="text" placeholder="E-Mail" name="email" style="font-size:14px;" required)
            div.row
                div.col-sm-12
                        input#password(type="password" placeholder="Password" name="password" style="font-size:14px;" required)
            div.login-tools
                div
                    div
                        label
                            input#rememberMe(type="checkbox" value="None" name="check") 
                            | Remember Me
                div
                    div
                        button.btn#loginbutton Login
                div
                    div#emptyTable
                        button.btn#forgotPasswordButton Forgot Password?
                        input(type="text" class="form-control" style="visibility:hidden")
    div.col-sm-12#registerContainer
        form#registerform(action="/register/" method="POST")
            div.row
                div.col-md-12
                    input#regfirstname(type="text" placeholder="First Name" name="regfirstname" required)
                div.col-md-12
                    input#reglastname(type="text" placeholder="Last Name" name="reglastname" required)
            div.row
                div.col-sm-12
                    input#regemail(type="email" placeholder="Email" name="regemail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" title="Please enter a valid email address." required)
            div.row
                div.col-sm-12
                    input#regpassword(type="password" placeholder="Password" name="regpassword" pattern=".{6,}" title="6 characters minimum" required)
                div.col-sm-12
                    input#confirmpassword(type="password" placeholder="Confirm Password" name="confirmpassword" required)
            div.row
                div.reg-btn-container
                    button.btn#registerbutton Register
