<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tourney Bracketz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logos">Logos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="userdashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="testbrackets">Test Brackets</a>
            </li>
            <li class="nav-item">
                <div id="signinbutton">Sign In</div>
            </li>
        </ul>
        <span class="navbar-text">
        Login
        </span>
    </div>
</nav>

div.row#signincontainer
    div.col-sm-12#loginContainer
        div.row
            div.col-sm-5#logintitle
                p.tableHeader Log In
            div.col-sm-5#registertitle
                p.tableHeader Register
            div.col-sm-2 
                button.btn#loginclosebutton Close
        <form id="loginform" action="/login/" method="POST">
            div.row
                div.col-sm-12
                    <label class="signinform" id="usernamelabel">
                         | Username <input type="text" name="username" id="username" required>
                    </label>
            div.row
                div.col-sm-12
                    <label class="signinform" id="passwordlabel">
                         | Password <input type="password" name="password" id="password" required>
                    </label>
            div.row
                div.col-sm-12
                    button.btn#loginbutton Login
        </form>
    div.col-sm-12#registerContainer
        <form id="registerform" action="/register/" method="POST">
            div.row
                div.col-sm-12
                    <label class="registerelement" id="regusernamelabel">
                         | Username <input type="text" name="regusername" id="regusername" required>
                    </label>
            div.row
                div.col-sm-12
                    <label class="registerelement" id="regfirstnamelabel">
                         | First name <input type="text" name="regfirstname" id="regfirstname" required>
                    </label>
            div.row
                div.col-sm-12
                    <label class="registerelement" id="reglastnamelabel">
                         | Last name <input type="text" name="reglastname" id="reglastname" required>
                    </label>
            div.row
                div.col-sm-12
                    <label class="registerelement" id="regemaillabel">
                         | Email <input type="text" name="regemail" id="regemail" required>
                    </label>
            div.row
                div.col-sm-12
                    <label class="registerelement" id="regpasswordlabel">
                         | Password <input type="password" name="regpassword" id="regpassword" required>
                    </label>
            div.row
                div.col-sm-12
                    button.btn#registerbutton Register
        </form>
