body{
	font-size: 0.7rem;
}
.round-1-container,.round-2-container,.round-3-container,.round-4-container,.round-5-container,.round-6-container,.round-7-container,.round-8-container {
	align-self: center;
}
/* div {
	border: 1px solid yellow;
	padding: 4px;
}
.round-one {
    border: 1px solid red;
} */

div[class^="bracket-wrapper"] {
	margin: 0;
}	

.upperContainer{
	margin-bottom: 10px;
}

div[class^="left-object-"].top {
	margin-bottom: 10px;
}
.lower-container {
	margin-top: 10px;
}

div[class^="right-object-"], .winner-container {
	align-self: center;
}

div[class^="right-object-"].top, div[class^="right-object-"].bottom {
	height: 50%;
	width: 100%;
}

.single-bracket {
	align-self: center;
}

#tournament-container {
	display: flex;
	margin: 50px 20px;
}

#tournament-container input{
	max-width: 80%;
	width: 10vw;
	max-height: 15px;
	border-style: none;
	border-bottom: 1px solid #ccc;
	margin-top: 5px;
	vertical-align: middle;
}

#tournament-container button{
	width: 15%;
	min-width: 20px;
	font-size: 50%;
	vertical-align: text-bottom;
	cursor: pointer;
	height: 15px;
    vertical-align: middle;
    margin-top: 5px;
    background: #0C6291;
    color: #fff;
    font-weight: 800;
}